$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'main/main';
@import 'user/user';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */

ul{
  li{
    border: 1px solid lightslategrey;
    list-style: none;

    span{
      background-color: lightblue;
      margin: 10px;
    }
    span:first-child{
      background-color: lightgray;
    }
  }
}

tfoot{
  background-color: lightgoldenrodyellow;
  td{
    text-color: blue;
  }

}
