<div class="container">
  <h2>Budget Search</h2>
  <hr/>

  <form>
    <div class="form-group row">
      <label for="juniorsLimit" class="col-sm-2 col-form-label">
        Number of Juniors
      </label>
      <div class="col-sm-10">
        <input type="number" min="0" ng-model="userCtrl.juniorsLimit" id="juniorsLimit" class="form-control" placeholder="No of Juniors">
      </div>
    </div>

    <div class="form-group row">
      <label for="seniorsLimit" class="col-sm-2 col-form-label">
        Number of Seniors
      </label>
      <div class="col-sm-10">
        <input type="number" min="0" ng-model="userCtrl.seniorsLimit" id="seniorsLimit" class="form-control" placeholder="No of Seniors">
      </div>
    </div>

    <div class="form-group row">
      <label for="budget" class="col-sm-2 col-form-label">
        Budget Amount (in Rs)
      </label>
      <div class="col-sm-5">
        <input type="number" min="0" ng-model="userCtrl.budget" id="budget" class="form-control" placeholder="Budget Amount">
      </div>
      <div class="col-sm-5">
        {{userCtrl.budget  | currency:"Rs. " : 0}}
      </div>
    </div>

    <button ng-click="userCtrl.getTeam()" value="Submit"> Submit</button>
  </form>


  <hr/>
  <div ng-if="userCtrl.isLoading">
    Loading ..
  </div>

  <div ng-if="userCtrl.users['juniors'].length > 0">
    <h3>Junior Users</h3>

    <table class="table table-striped table-bordered table-responsive">
      <thead>
      <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Experience</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in userCtrl.users['juniors']">
        <td>{{user._id.name}}</td>
        <td>{{user._id.expected_salary | currency:"Rs. " : 0}}</td>
        <td>{{user._id.experience}} years</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>Total</td>
        <td colspan="2">{{userCtrl.users['juniorsTotalBudget'] | currency:"Rs. " : 0}}</td>
      </tr>
      </tfoot>
    </table>
  </div>

  <div ng-if="userCtrl.users['seniors'].length > 0">
    <h3>Senior Users</h3>

    <table class="table table-striped table-bordered table-responsive">
      <thead>
      <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Experience</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in userCtrl.users['seniors']">
        <td>{{user._id.name}}</td>
        <td>{{user._id.expected_salary | currency:"Rs. " : 0}}</td>
        <td>{{user._id.experience}} years</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>Total</td>
        <td colspan="2">{{userCtrl.users['seniorsTotalBudget'] | currency:"Rs. " : 0}}</td>
      </tr>
      </tfoot>
    </table>
  </div>

  <div class="well well-large" ng-if="userCtrl.users['seniors'].length == 0 && userCtrl.users['seniors'].length == 0 && userCtrl.requestServer">
    No Matches with Search Criteria
  </div>
</div>
